# Core Dependencies
torch>=2.6.0   # tested on 2.7.1+cu118
torchvision
torchaudio
einops
h5py
matplotlib
numpy
packaging
pydantic
requests
SciencePlots
scipy
tensorboard
tqdm

# Cupy Backend
# cupy-cuda11x
# cupy-cuda12x

# Triton Backend
# triton>=3.3.1

# FP8 Optional Backends
# torchao>=0.13,<0.18
# transformer-engine[pytorch]>=2.16,<3

# NIR Exchange
# nir
# nirtorch

# lightning
# jsonargparse[signatures]

# dev group
# pytest
# pydata-sphinx-theme>=0.16.1
# sphinx>=8.0.0,<9
